
.menu-button {
    z-index: 10;
    display: inline-flex;
 
    padding: 10px 0;
   
    border: none;
    background-color: transparent;
    cursor: pointer;
        &:focus,
        &:hover {
        box-shadow: none;
        background: transparent;
        fill: var(--act-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
}       

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    padding: 48px 40px;
    display: none;
    height: 796px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    text-align: center;
    font-size: 20px;
    background-color: var(--third-color);
    &.is-open {
        display: block
    }
}

.menu-links {
    text-align: left;
    padding-bottom: 300px;
}

.menu-links__item {
    margin-bottom: 36px;
    &:last-child {
        margin-bottom: 0;
    }
}

.menu-links__link {
    @include font(500, 40px, calc(47 / 40), 0.02em, $main-color);
  
&:focus,
&:hover {
    color: var(--act-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}}

.menu-contacts {
    text-align: left;
}

.menu-contacts__item {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 65px;
    }
}

.menu-contacts__tel {
    margin-bottom: 32px;
    @include font(500, 34px, calc(40 / 34), 0.02em, $act-color);
}

.menu-contacts__link {
    @include font(500, 24px, calc(28 / 24), 0.02em, $sec-color);
}

.menu-social {
    display: flex;
    align-items: center;
}

.menu-social__list:not(:last-child)::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 22px;
        background-color: $border-color;
        margin-left: 10px;
        margin-right: 10px;
}

.menu-social__link {
    text-align: center;
    @include font(500, 18px, calc(22 / 18), 0.02em, $act-color);
}