@mixin flex-container ($justify, $align, $direction, $wrap) { // Box with centered content verticaly
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin centered-X-content($Jcontent: center) { // Box with centered content horizontaly
    display: flex;
    justify-content: $Jcontent;
    }
  
@mixin centered-Y-content($display:flex){ // Box with centered content verticaly
    display: $display;
    align-items: center;
    }

@mixin centered-content ($display: flex){ // Box with centered content horizontaly and verticaly
        display: $display;
        align-items: center;
        justify-content: center;
    }

@mixin font($fW, $fS, $lH, $lS, $col){ 
    font-weight: $fW;
    font-size: $fS;
    line-height: $lH;
    letter-spacing: $lS;
    color: $col;
}

@mixin button($W, $H, $BGC, $BxSH, $Br){
    width: $W;
    height: $H;
    background-color: $BGC;
    box-shadow: $BxSH;
    border-radius: $Br;
}
   