// color css
:root {
    --main-color: #212121;
    --sec-color: #757575; 
    --act-color: #2196F3;
    --third-color: #FFFFFF;
    --forth-color: #ececec;
    --backgr-color: #2F303A;
   
    --shadow-color: rgba(0, 0, 0, 0.15);
  
    --selection-color: #188CE8;
    --backgr: rgba(255, 255, 255, 0.6);
    --buton-collor: #F5F4FA; 
}
// color sass
$main-color: #212121;
$sec-color: #757575; 
$act-color: #2196F3;
$third-color: #FFFFFF;
$forth-color: #ececec;
$fifth-color: #AFB1B8;
$six-color: #EEEEEE;
$backgr-color: #2F303A;
$shadow-color: rgba(0, 0, 0, 0.15);
$selection-color: #188CE8;
$backg-overlay: rgba(33, 150, 243, 0.9);
$backgr: rgba(255, 255, 255, 0.6);
$backg-social: rgba(255, 255, 255, 0.1);
$backg-cardset: rgba(47, 48, 58, 0.8);
$close-color: rgba(0, 0, 0, 0.1);
$bcg-backdrop: rgba(0, 0, 0, 0.2);
$border-color: rgba(33, 33, 33, 0.2);
$border-form: rgba(255, 255, 255, 0.3);
$buton-collor: #F5F4FA;

// font
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;


